*{
    margin: 0;  
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

:root{
    --mainColor: SteelBlue;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: var(--mainColor);
}

.card{
    text-align: center;
    background-color: wheat;
    padding: 1rem;
    margin: 1rem;
}

.links a {
    text-decoration: none;
    color: var(--mainColor);
    margin: 0.5rem;
    opacity: 75%;
    transition: all 0.2s ease-in-out;
}

.links a:hover {
    opacity: 100%;
}
.ball {
    width: 30px;
    height: 30px;
    position:absolute;
    border-radius: 50%;
    background-color: white;
    left: -30px;
    top: 0;
    animation: movement 3s linear infinite, squashing 3s linear infinite;
}
.ball :nth-child(2) {
    animation-delay: .2s;
    opacity: .6;
}

@keyframes movement {
    16%, 48%, 78% {
        top: 300px;
        animation-timing-function: ease-in-out;
    }
    32% {
        top: 50px;
        animation-timing-function: ease-in;
    }
    62% {
        top: 150px;
        animation-timing-function: ease-in;
    }

    90% {
            top: 200px;
            animation-timing-function: ease-in;
    }
    100% {
            top: 270px;
            left: 100%;
            animation-timing-function: ease-out;
            transform: rotate(360deg);
    }
}

@keyframes squashing {
    16%, 48%, 78% {
        height: 25px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.6);
    }
    15%,47%,77%,18%,50%,80% {
        height: 30px;
        border-radius: 50%;
        transform: scaleX(1);
    }
}